html,
body,
#root {
  height: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  touch-action: pan-x pan-y;
  /* Disables pinch zoom */
}

html {
  font-size: clamp(16px, 1.5vw, 18px);
}

@media (max-width: 1024px) {
  html {
    font-size: clamp(15px, 1.45vw, 17px);
  }
}

@media (max-width: 768px) {
  html {
    font-size: clamp(15px, 2.5vw, 16px);
  }
}

* {
  box-sizing: border-box;
}

.modal-root {
  /* el wrapper del modal */
  max-height: 100vh;
  overflow: hidden;
}

.modal-scroll-area {
  /* el contenedor interno scrolleable SI hace falta */
  max-height: calc(100vh - 160px);
  /* deja cabeza y footer */
  overflow: auto;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Ocultar barra de deslizamiento en toda la aplicación */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

@media print {
  @page {
    size: 58mm auto;
    /* Fuerza el tamaño del papel */
    margin: 0;
    /* Elimina los márgenes del sistema */
  }

  body {
    margin: 0;
    padding: 0;
  }
}
